/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require ionicons
 *= require_tree .
 *= require font-awesome
 *= require style.default
 *= require custom
 *= require_self
 */

 .main .textbox{
 	border: none;
 	background: none;
 	border-bottom-style: solid;
 	width:170px !important;
 	font-size: 25px;
 	font-family: Bellota-Regular;
 	display: inline;
 	border-radius: 0px;
 }

 .tHlogo{
 	    height: 350px;
 }

 .form-control:focus{
 	box-shadow: none;
 }

 .sub-box{
 	float: right;
    background-color: #12A084;
    border-radius: 20px;
    padding: 15px;
 }

 .text{
 	color: white;  
 	font-size: 25px; 
 	font-family: Bellota-Regular;
 	padding-right: 30px;
 }

.suscribe {
	background: #a5ce44;
	border-color: #a5ce44;
	border-radius: 30px;
    color: white;
    text-transform: none;
    font-size: 20px;
    font-family: Avenir;
    margin-left: 10px;
    margin-top: 10px;
}

.sub{
	font-family: Bellota-Regular;
}

.title {
	font-size: 50px;
	margin-bottom: 20px;
}

.image {
	width: 130px;
    border-radius: 9px;
}

.intro{
	font-family: Avenir;
	font-size: 20px;
	width: 50%;
	color: white;
}

.bold {
	font-family: Avenir;
	font-size: 20px;
	font-weight: bold;
}

.footerRow{
    height: 80px;
    font-family: Bellota-Regular;
    padding: 20px;
    font-size: 20px;
}

.footer{
	background-color: #12A084;
    height: 80px;
    font-family: Bellota-Regular;
    padding: 20px;
    font-size: 20px;
}