/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require ionicons
 *= require_tree .
 *= require font-awesome
 *= require style.default
 *= require custom
 *= require_self
 */

 .main .textbox{
 	border: none;
 	background: none;
 	border-bottom-style: solid;
 	width: 120px !important;
 	font-size: 20px;
 	font-family: Bellota-Regular;
 	display: inline;
 }

 .text{
 	color: white;  
 	font-size: 20px; 
 	font-family: Bellota-Regular;
 	padding-right: 20px;
 }

.suscribe {
	width:100px !important;
	background: #a5ce44;
	border-color: #a5ce44;
	border-radius: 21px;
    color: black;
    text-transform: none;
    font-size: 21px;
    font-family: Bellota-Regular;
}