@font-face{
 	font-family: 'Bellota-Regular';
 	src: asset-url('Bellota-Regular.otf');
}
@font-face{
 	font-family: 'Bellota-BoldItalic';
 	src: asset-url('Bellota-BoldItalic.otf');
}
@font-face{
 	font-family: 'Bellota-Bold';
 	src: asset-url('Bellota-Bold.otf');
}
